.notescontainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 auto;
  width: 80%;
  box-sizing: border-box;
}

.inputscontainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.noteinputs {
  width: 35%;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
}

.editablenote {
  width: 100%;
  margin-top: 1rem;
  min-height: 90px;
  padding: 15px;
  border: 2px solid #4f75ff;
  border-radius: 10px;
  font-size: 12px;
  outline: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  background-color: #f9f9f9;
  color: #333;
}

.editable-note:empty:before {
  content: attr(placeholder);
  color: #888;
}

.searchbar {
  width: 30%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.notesgrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  margin-top: 20px;
  width: 100%;
}

.note {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  width: calc(33.3333% - 20px);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  box-sizing: border-box;
}

.note h3 {
  margin-top: 0;
  font-size: 18px;
}

.note p {
  font-size: 14px;
  margin-bottom: 10px;
}

.note button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--color-dark--2);
  color: white;
  border: none;
  padding: 7px 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
}

.note button:hover {
  background-color: #c82333;
}

.btn {
  background-color: #4f75ff;
  color: white;
  padding: 10px 20px;
  margin-top: 15px;
  display: inline-block;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
  background-color: #365ac8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn:active {
  background-color: #2a489f;
}
